.control-box {
    text-align: right;
    width: 100%;
}
.carousel-control{
    background: #666;
    border: 0px;
    border-radius: 0px;
    display: inline-block;
    font-size: 34px;
    font-weight: 200;
    line-height: 18px;
    opacity: 0.5;
    padding: 4px 10px 0px;
    position: static;
    height: 30px;
    width: 15px;
}

ul.thumbnails { 
    margin-bottom: 0px;
    list-style-type: none;
}

.navbar-default{
    background-color: #B40E64;
    border-color: #B40E64;
    /*#e3127e*/
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    background-color: #B40E64;
    color:#FFFFFF;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text{
    color:#FFFFFF;
}



.dropdown-menu{
    background-color: #b41064
}